<ul>
  <li class="logo"><%= link_to 'HackerNews', news_path%></li>
  <li><a class="active" href="#home">new</a></li>
  <li><a href="#news">past</a></li>
  <li><a href="#contact">comments</a></li>
  <li><a href="#about">ask</a></li>
  <li><a href="#about">show</a></li>
  <li><a href="#about">jobs</a></li>
  <li><%= link_to 'submit', submit_path%></li>
  <li style="float:right"><a href="#login">login</a></li>
</ul>
  