<ul>
  <li class="logo"><%= link_to 'HackerNews', news_path%></li>
  <li><%= link_to 'news', newest_path%></li>
  <li><a href="#threads">threads</a></li>
  <li><a href="#ask">ask</a></li>
  <li><%= link_to 'submit', submit_path%></li>
  <li style="float:right"><a href="#login">login</a></li>
</ul>
  