<h1>New Submission</h1>

<%if logged_in? %>
    <%= render 'form', submission: @submission %>
<%else%>
    <div>
      <%= button_to "Login", '/auth/google_oauth2'%>
    </div>
<%end%>

<%= link_to 'Back', submissions_path %>
